* {
  outline: none;
  border: none;
  user-select: none;
  -webkit-user-drag: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

main > header {
  font-size: 15px;
}
